<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-referrer-plugin"
    version="0.7.1">

  <repo>https://github.com/budlight/cordova-referrer-plugin.git</repo>
  <issue>https://github.com/budlight/cordova-referrer-plugin/issues</issue>
  <name>Cordova Referrer Plugin</name>
  <description>Android Referrer Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,tracking</keywords>


  <js-module src="www/tracking.js" name="tracking"> 
    <clobbers target="trackingPlugin" /> 
  </js-module> 

  <platform name="android">
    <source-file src="src/android/org/fleek/tracking/TrackingReceiver.java" target-dir="src/org/fleek/tracking/" />
    <source-file src="src/android/org/fleek/tracking/TrackingPlugin.java" target-dir="src/org/fleek/tracking/" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TrackingPlugin" >
        <param name="android-package" value="org.fleek.tracking.TrackingPlugin"/>
      </feature>
    </config-file>
	  <config-file target="AndroidManifest.xml" parent="/manifest/application">
		  <receiver android:exported="true" android:name="org.fleek.tracking.TrackingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </config-file>
  </platform>
</plugin>
